@font-face{
	font-family: "RozhaOne";
	src: url("./font/Rozha One.woff"),
		url("./font/Rozha One.ttf");
}

body{
	margin: 0px 0px; 
	padding: 0px 0px;
	position:relative;
	top: 0;
	left:0;
	
}


header{
	background-color: white;
	height:   100px;
	padding: 40px 0px 0px 80px;
	border-bottom: thin solid black;
	font: bold 48px RozhaOne,serif;
	color: #0639C1;
}


#main{
	margin: 0px 0px 0px 80px;
	
}


nav{
	background-color: white;
	width: 1202px;
	padding: 20px 0px 40px 0px;
	font:  14px Verdana,sans-serif;
}
nav ul{
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
nav ul li{
	display: inline;
	padding: 5px 10px 5px 0px;
}
nav ul li a{
	text-decoration: none;
	color: #0639C1;
}

section{
	height: 700px;
}
section #subject{
	padding: 80px 0px 0px 40px;
	
}
section #subject .subjectText{
	padding: 0px 0px 0px 0px;
	font: 74px RozhaOne,serif;
	color: #0639C1;
}
section button{
	margin: 60px 0px 0px 40px;
	padding: 15px 15px 15px 15px;
	outline:none;
	border:none;
	font: 18px Verdana,sans-serif;
}


#content{
	background-color: white;
	width: 1330px;
	
}
#content #title{
	text-align: center;
	padding: 30px;
	font: 48px RozhaOne,serif;
	color: #0639C1;
}
#content  .row{
	display: inline-block;
}
#content .row .component{
	width: 600px;
	margin: 20px 35px 0px 0px;
}
#content .row .component .photo{
	height: 495px;
	background-color: #A4E1E9;
}
#content .row .component .type{
	text-align: center;
	padding: 50px;
	font: 24px RozhaOne, serif;
	color: #0639C1;
}


#backgroundImg{
	width: 1202px;
	position: fixed;
	top: 0px;
	left:80px;
	z-index: -1;
}